/* body{
    display: flex;
    justify-content: center ;
    background-color: dimgrey;
} */

.Background{
    display: flex;
    justify-content: center ;
    align-items: center;
    height: 700px;
    background-color: #1F2833;
}

.LogInFrame{
    border: solid #66FCF1 2px;
    border-radius: 7px;
    display: flex;
    height: 250px;
    width: 500px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Topic{
    font-size: 24pt;
    color: white;
    margin: 10px;
}
