.Name{
    display: flex;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 20pt;
    font-weight: 700;
    color: #66FCF1;
}
.Description{
    display: flex;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 14pt;
    font-weight: 500;
    color: #66FCF1;
}
.Section{
    min-width: 700px;
    display: flex;   
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 16pt;
    font-weight: 400;
    color: #66FCF1;
}
.Background{
    
    background-color: #1F2833;
    min-height: 875px;
    max-height: max-content;
}
.Block{
    display: flex;
    flex-direction: row;
    color: #66FCF1;
    max-height: 430px
}
.AddTestPanel{
    margin-top: 100px;
    padding: 20px;
    border:  solid  2px #66FCF1;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.Question{
    display: flex;
    flex-direction: column;
    min-width: 700px;
    margin: 5px;
    font-size: 14pt;
    border: solid 2px #66FCF1;
    padding: 10px;
}
.Subsection{
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Xmark{
    font-size: 40pt;
}
.QuestionData{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.DefaultText{
    font-size: 12pt;
    color: aliceblue;
}