.TestsFrame{
    border: solid 2px #66FCF1;
    width: 1000px;
    margin: 0 auto;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 60px;
}

.Topic{
    font-size: 24pt;
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding: 20px;
    color: white;
}

.CheckBox{
    margin: 10px;
}

.Container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Hr{
    margin: 0px;
    color: #66FCF1;
    background-color: #66FCF1;
    height: 1px;
    border-color: #66FCF1;
}
.Background{
    background-color: #1F2833;
    min-height: 875px;
    max-height: fit-content;
    background-size: cover;
}
.AddTestPanel{
    display: flex;
    justify-content: center;
    
}