.Header{
    display: flex;
    justify-content: space-evenly;
    height: 86px;
    align-items: center;
    background-color: #1F2833;
}
.Link{
    font-size: 18pt;
    color: #66FCF1;
    text-decoration: none;
    display: flex;
    justify-content:center;
}
:visited.Link{
    color: #66FCF1;
}
.Test{
    width: 0px;
    height: 85px;
    border-left: solid #66FCF1 3px;
}
.Hr{
    margin: 0px;
    color: #66FCF1;
    background-color: #66FCF1;
    height: 1px;
    border-color: #66FCF1;
}